body{
    background-color: hsl(222, 26%, 31%);
    font-family: 'Spartan', sans-serif;
    text-align: center;
}
.container-main{
    width: 27%;
    margin: 40px auto;
    
    display: flex;
    flex-direction: column;
    
    

}
.top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    


}
.toggle{
    display: flex;
    width: 20%;
    justify-content: space-around;
}
.toggleArea{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 12px;


}
.toggleSurface{
    background-color:  hsl(223, 31%, 20%);
    width: 69px;
    height: 20px;
    border-radius: 25px;
    
}
.nums span{
    margin: 5px;
}

#calc{
    font-size: 25px;
}
#theme{
    font-size: 10px;
    margin-top: 10px;
    margin-right: 20px;
}

#toggleBtn{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: red;
    position: relative;
    left: 0px;
}
.sCnt{
    width: 106%;
    height: 120px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    
    margin-top: 20px;
    border-radius: 10px;
    background-color: hsl(224, 36%, 15%);

}
.content{
    color: white;
    font-size: 32px;
    margin-top: 60px;
    margin-right: 20px;
}

.keypad{
    width: 106%;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    border-radius: 10px;
    background-color: hsl(223, 31%, 20%);
    
}
button{
    font-family: 'Spartan', sans-serif;
    width: 21%;
    height: 13%;
    padding: 10px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 10px;
    border-style: inset;
    border-bottom-width: 4px;
    border-color: white;
    font-size: 32px;
    margin-top: 10px;
    color: hsl(221, 14%, 31%)
    
}
button:hover{
    cursor: pointer;
}
#resetBtn{
    font-size: 24px;
    color: white;
    width: 190px;
    background-color: hsl(225, 21%, 49%);
}
#equalsBtn{
    color: white;
    width: 190px;
    background-color: hsl(6, 63%, 50%);
}
#del{
    color: white;
    font-size: 24px;
    background-color: hsl(225, 21%, 49%);
}



@media (max-width: 1400px){
    .container-main{
        width: 400px;
        
    }
    .keypad button{
        width: 88px;
        height: 50px;
    }
    #resetBtn{
        width: 190px;
    }
    #equalsBtn{
        width: 190px;
    }
}

.attribution{
    margin-top: 30px;
}

@media (max-width: 400px){
    .container-main{
        width: 100%;
        

    }
    .keypad button{
        width: 22%;
        height: 12%;
    }
    #resetBtn{
        width: 150px;
    }
    #equalsBtn{
        width: 150px;
    }
    .toggle{
        margin-right: 25px;
    }
}
